.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}
.grid_1-1.p {
  max-width: 65ch;
}

.grid_1-1 .heading {
  margin-right: 2%;
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}
